@model WebBlog.Web.Models.UserViewModel;
@{
    ViewData["Title"] = "Редактирование пользователя";
}


<div class="block-reg container-form">
    <h3 class="center">Редактирование профиля</h3>
    <p> </p>
    <form class="frm" method="post" asp-controller="User" asp-action="Edit" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="control-label">Роли: </label>
            <div>
                @foreach (var item in @Model.sproles)
                {
                    @if (item.Name == "user")
                    {
                        <input type="checkbox" id=@item.Id name="@Model.Selectedrole" value=@item.Id checked disabled="disabled">
                        <label for=@item.Id> @item.Name </label>
                    }
                    else
                    {
                        int p = 0;
                        @foreach (var item1 in Model.Roles)
                        {
                            @if (item.Name == item1.Name)
                            {
                                <input type="checkbox" id=@item.Id name="Selectedrole" value=@item.Id checked>
                                <label for=@item.Id> @item.Name </label>
                                p = 1;
                                break;
                            }
                        }
                        if (p == 0)
                        {
                            <input type="checkbox" id=@item.Id name="Selectedrole" value=@item.Id>
                            <label for=@item.Id> @item.Name </label>
                        }
                    }
                }
            </div>
            <label asp-for="UserName" class="form-label">НикНейм</label>
            <input type="text" class="form-control" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>

            <label asp-for="Password" class="form-label">Пароль</label>
            <input type="text" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>

            <label asp-for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>

            <label asp-for="FirstName" class="form-label">Имя</label>
            <input type="text" class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>

            <label asp-for="LastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>

            <label asp-for="Avatar" class="form-label">Аватар</label>
            <input type="hidden" class="form-control" asp-for="Avatar" />
            <span asp-validation-for="Avatar"></span>
            <div class="col-md-4">
                <img src=@Model.Avatar class="img-fluid rounded-start" alt="...">
            </div>

            <div class="form-group">
                <label class="form-label">Изменить аватар</label>
                <input type="file" name="upload" class="form-control" />
            </div>
        </div>



        <div class="center">
            <input type="submit" class="btn btn-primary" value="OK" />
        </div>
    </form>
</div>
