@model IEnumerable<WebBlog.Web.Models.UserViewModel>;
@{
    ViewBag.Title = "Все пользователи";
}


<div class="container">

    <div>
        <a class="btn btn-add-user" asp-action="Create">Добавить нового пользователя</a>
    </div>


    @foreach (var item in Model)
    {
        <div class="card card1 ">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src=@item.Avatar class="img-fluid rounded-start" alt="@item.Avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.UserName</h5>

                        <div class="text-right">
                            @foreach (var item1 in item.Roles)
                            {
                                <span class="badge  badge-info badge-user"> @item1.Name  </span>
                            }
                        </div>

                        <p class="card-text"><small class="text-muted"> @item.Email</small></p>
                        <div class="btn-group">
                            <div>
                                <form asp-controller="User" asp-action="Profile" method="post" asp-route-id="@item.Id">
                                    <input class="btn btn-user" type="submit" value="Профиль" />
                                </form>
                            </div>


                            <div>
                                <a class="btn btn-user" asp-action="Edit" asp-route-id="@item.Id">Изменить </a>
                            </div>
                            <form asp-controller="User" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <input class="btn btn-user" type="submit" value="Удалить" />
                            </form>



                        </div>

                    </div>
                </div>
            </div>
        </div>



    }


</div>





