@model WebBlog.Web.Models.UserViewModel;


<div class="block-reg background-white">
    <h3 class="center">Пользователь @Model.UserName</h3>
    <p> </p>


    <div class="mb-3">

        <label asp-for="FirstName" class="control-label">Имя  </label><br />
        <p> @Model.FirstName </p>

        <label asp-for="LastName" class="control-label">Фамилия  </label><br />
        <p> @Model.LastName </p>

        <label asp-for="Email" class="control-label">Email </label><br />
        <p> @Model.Email </p>

        <label asp-for="Password" class="control-label">Пароль  </label><br />
        <p> @Model.Password </p> 

        <label asp-for="Avatar" class="control-label">Аватарка  </label><br />
        <img src="@Model.Avatar" width="300px" height="300px" /> <br />

        @if (User.IsInRole("admin"))
        {
        <label class="control-label">Роли: </label> <br />
        @foreach (var item in Model.Roles)
        {
            <p> @item.Name</p>
        }
        }
        else
        {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Редактировать </a>
        }

    </div>
</div>