@model WebBlog.Web.Models.PostsViewModel;


<div class="block-reg container-form">
    <h3 class="center"> @Model.Title</h3>
    <p> </p>
    <div>
        @foreach (var item1 in Model.Tags)
        {
            <span class="badge  badge-info "> @item1.Name  </span>
        }
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src=@Model.Image class="img-fluid rounded-start" alt="..." width="200px" height="200px">
        </div>
        <div class="col-md-8">
            <p> @Model.Annotation </p>
        </div>

    </div>
    <div>

        <div class="aticle-text">
            <p>  @Model.PostText </p>
        </div>


        <div class="text-right">
            <p> Автор: @Model.User.UserName </p>
        </div>
        <div class="comment-container">
            <h4 >Комментарии: </h4> 
            @foreach (var item in Model.Comments)
            {
               <hr />
                    <p class="comment-text"> @item.TextComment </p>
               
                <div class="text-right">
                    <span class="badge" > @item.User?.UserName </span>
                </div>

            }

            @if (User.Identity.IsAuthenticated)
            {
            <form asp-controller="Comment" asp-action="Create1" method="post" asp-route-idPost="@Model.Id">

                <textarea asp-for="@Model.NewComment" class="form-control"> </textarea>
                <input class="btn btn-post" type="submit" value="Оставить комментарий" />
            </form>
            }
        </div>


    </div>

    <div>
        <a asp-action="Index" asp-controller="Post">Перейти к списку всех статей</a>
    </div>

</div>

