@model IEnumerable<WebBlog.Web.Models.PostsViewModel>;
@{
    ViewBag.Title = "Мои статьи";
}


<div class="container">

    <div>
        <a class="btn btn-add-post" asp-action="Create">Добавить новую статью</a>
    </div>


    @foreach (var item in Model)
    {


        <div class="card card1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src=@item.Image class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Annotation</p>
                        <div class="text-right">
                            @foreach (var item1 in item.Tags)
                            {
                                <span class="badge  badge-info "> @item1.Name  </span>
                            }
                        </div>

                        <div class="btn-group ">
                            <div>
                                <a class="btn btn-post" asp-action="Details" asp-route-id="@item.Id">Детали </a>
                            </div>
                            <div>
                                <a class="btn btn-post" asp-action="Edit" asp-route-id="@item.Id">Изменить </a>
                            </div>
                        
                            <form asp-controller="Post" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <input class="btn btn-post" type="submit" value="Удалить" />
                            </form>
                            @*   <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Комментировать </a> *@
                        </div>

                    </div>
                </div>
            </div>
        </div>



    }
</div>